body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/topography.png");
}

.jumbotron {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/congruent_pentagon.png");
  margin-bottom: 0;
}

.subHeaderText { 
  color: darkblue;

 }

.subHeaderText p {
  margin-bottom: 5px;
}

.ImgWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 150px;
}

.click-img img {
  background-size: cover;
  width: 175px;
  height: 175px;
  border: 2px solid lightseagreen;
  margin: 10px;
}

.sticky-top {
  color: #fff;
  background: darkblue;
}
 .sticky-top h3 {
   font-size: 18pt;
 }

 @media screen and (max-width: 991px) {
  
  .click-img img {
    width: 150px;
    height: 150px;
  }
  
}