body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/topography.png");
}

.jumbotron {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/congruent_pentagon.png");
  margin-bottom: 0;
}

.subHeaderText {
  /* background: rgba(0, 0, 0, 0.2); */
  color: darkblue;

}

.subHeaderText p {
  margin-bottom: 5px;
}

.ImgWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 200px 150px 200px;
}

.click-img img {
  background-size: cover;
  width: 175px;
  height: 175px;
  border: 2px solid lightseagreen;
  margin: 10px;
}

.sticky-top {
  height: 50px;
  color: #fff;
  text-align: right;
  background: darkblue;
}
 .sticky-top h3 {
   padding: 10px 25px 0 0;
   font-size: 18pt;
 }

 .msg {
   float: left;
   margin-left: 25px;
 }


 @media screen and (max-width: 1280px) {
  .ImgWrapper {
    margin: 50px 175px 150px 175px;
  }
  
  /* .click-img img {
    width: 150px;
    height: 150px;
  } */
  
}